/* Estilos globais para a aplicação */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



.page-content-container {
  max-width: 340px;
  margin: 7rem auto;
  padding: 0 4rem;
  flex-grow: 1;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}