:root {
  --primary-color: #6A0DAD;
  --secondary-dark-color: #333333;
  --secondary-light-color: #F5F5F5;
  --text-color: #4A4A4A;
  --border-color: #E0E0E0;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--secondary-light-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: var(--secondary-dark-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
